body {
  margin: 0;
  font-family: Arial;
  background-color: #f4f4f4;
}

.app {
  text-align: center;
  margin-top: 50px;
}

.card {
  width: 300px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.card img {
  width: 120px;
}

button {
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}